accelerate==1.6.0
git+https://github.com/google-research/bleurt.git
hf-trim==3.0.1
evaluate==0.4.3
matplotlib==3.10.8
numpy==2.3.5
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==12.2.0
pycocoevalcap==1.2
PyYAML==6.0.3
scipy==1.16.3
sacrebleu==2.5.1
torch==2.12.0
torchvision==0.21.0
tqdm==4.67.1
transformers==5.0.0rc3
webvtt_py==0.5.1